@media (max-width: 1919px) {
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 1777px) {

  .footer__right {
    display: none;
  }

}

@media(max-width: 1670px) {

  .about-us__bottom {
    max-width: 100%;
    flex-direction: column;
    height: fit-content;
  }

  .about-us__left {
    max-width: 100%;
    margin: 0;
    display: initial;
    margin-bottom: 32px;
  }

  .about-us__left-container {
    max-width: 100%;
    margin-top: 444px;
    font-size: 16px;
    line-height: 32px;
  }

  .about-us__right-list-item {
    max-width: 100%;
    padding-left: 316px;
    background-position: center left 7.4%;
  }

}

@media (max-width: 1519px) {
  .container {
    margin-left: 50px;
    margin-right: 33px;
  }

  .size_1920,
  .size_768,
  .size_320 {
    display: none;
  }

  .size_1024 {
    display: block;
  }

  /* Header */

  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
  }

  .header__logo {
    margin: 0;
    max-width: 150px;
    max-height: 48px;
  }

  .header__nav {
    position: absolute;
    left: -50px;
    top: 80px;
    width: 20%;
    min-width: 250px;
    height: 100vh;
    z-index: 1000;
    padding: 50px;
    box-shadow: 0 0 5px #888;
    background-color: var(--color-white);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-80%);
    transition: all 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 18px;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .burger {
    display: flex;
    position: relative;
    width: 35px;
    height: 35px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: var(--color-dark);
    transform: translateX(-50%);
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger__line:nth-child(1) {
    top: 5px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: 6px;
  }

  .burger--active
  .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active
  .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active
  .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger__line {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  /* Hero */

  .hero__container {
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .hero__content {
    padding-top: 160px;
    padding-left: 77px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    max-width: 100%;
    margin-bottom: 16px;
  }

  .hero__paragraph {
    font-size: 20px;
    line-height: 24px;
    max-width: 80%;
    margin: 0;
    margin-bottom: 60px;
  }

  .hero__button {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 160px;
  }

  /* About us */

  .about-us__title {
    font-size: 48px;
    line-height: 59px;
  }

  .about-us__paragraph {
    max-width: 100%;
    margin-bottom: 60px;
  }

  .about-us__bottom {
    max-width: 100%;
    flex-direction: column;
    height: fit-content;
  }

  .about-us__left {
    max-width: 100%;
    margin: 0;
    display: initial;
    margin-bottom: 32px;
  }

  .about-us__left-container {
    max-width: 100%;
    margin-top: 444px;
  }

  /* .about-us__left-paragraph {
    margin-right: 195px;
  } */

  .about-us__right-list-item {
    max-width: 100%;
    padding-left: 316px;
    background-position: center left 7.4%;
  }

  .about-us__container {
    margin-bottom: 80px;
  }

  /* How-we-work */

  .how-we-work__container {
    margin-bottom: 81px;
  }

  .how-we-work__title {
    font-size: 48px;
    line-height: 59px;
  }

  .how-we-work__list {
    margin-bottom: 50px;
  }

  .how-we-work__content {
    margin-right: 50px;
  }

  .how-we-work__content-image {
    text-align: -webkit-center;
  }

  .how-we-work__content-imagee {
    border-radius: 32px;
    max-width: 437px;
    height: 689px;
    object-fit: cover;
  }

  .how-we-work__content-descr {
    max-width: 869px;
  }

  /* FAQ */

  .faq__container {
    margin-bottom: 82px;
  }

  .faq__title {
    font-size: 48px;
    line-height: 59px;
  }

  .faq__item-title {
    padding: 38.5px 0;
    font-size: 20px;
    line-height: 32px;
  }

  .faq__item:not(:first-child, :last-child, :nth-child(3)) .faq__item-title {
    padding: 29px 0;
  }

  .faq__item:nth-child(2) .faq__item-title {
    max-width: 70%;
  }

  /* Footer */

  .footer__left {
    margin-right: 127px;
  }

  .footer__middle-title {
    font-size: 48px;
    line-height: 59px;
  }

  .footer__right-paragraph {
    display: none;
  }
}

@media (max-width: 1050px) {

  .footer__container {
    display: flex;
    flex-direction: column;
  }

  .footer__left {
    display: none;
  }

  .footer__midle-social {
    display: inline-block;
  }

  .form__down {
    margin-bottom: 50px;
  }
}

@media (max-width: 1470px) {
  .footer__middle {
    margin: 0;
  }

  .footer__right {
    display: none;
  }

  .footer__container {
    justify-content: space-between;
  }
}

@media (max-width: 950px) {
  .about-us__right-list-item {
    padding-top: 35px;
    padding-left: 200px;
    background-position: center left 5.4%;
    background-size: 154px 128px;
  }
}

@media (max-width: 942px) {

  .container {
    margin-left: 50px;
    margin-right: 33px;
  }

  /* Header */

  .header {
    border-radius: 24px;
  }

  .header__container {
    padding: 10.5px 0;
  }

  /* .header__logo {
    max-width: 145px;
    max-height: 42px;
  } */

  /* Hero */

  .hero__container {
    margin-bottom: 40px;
  }

  .hero__content {
    padding-left: 40px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__paragraph {
    font-size: 18px;
    line-height: 22px;
    max-width: 90%;
  }

  .hero__button {
    font-size: 23px;
    line-height: 28px;
  }

  /* About-us */

  .about-us__left {
    background-position: center;
  }

  .about-us__left-container {
    padding: 34px 40px;
  }

  .about-us__left-paragraph {
    margin: 0;
    margin-right: 47px;
    font-size: 16px;
    line-height: 32px;
    max-width: 100%;
  }

  .about-us__right-list-item {
    padding-top: 35px;
    padding-left: 169px;
    background-position: center left 5.4%;
    background-size: 134px 98px;
  }

  .about-us__right-title {
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__right-paragraph {
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 32px;
    max-width: 90%;
  }

  /* How-we-work */

  .how-we-work__container {
    margin-bottom: 49px;
  }

  .how-we-work__title {
    font-size: 48px;
    line-height: 59px;
  }

  .how-we-work__list {
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
  }

  .how-we-work__article {
    display: flex;
    flex-direction: column;
  }

  .tabs-nav__btn--active {
    color: tan;
  }

  .tabs-item {
    display: none;
  }

  .tabs-item--active {
    display: flex;
  }

  .tabs-nav__btn--active {
    color: tan;
  }

  .tabs-item {
    display: none;
  }

  .tabs-item--active {
    display: flex;
  }

  .how-we-work__content {
    margin: 0;
  }

  .how-we-work__content-title {
    font-size: 24px;
    line-height: 32px;
  }

  .how-we-work__content-descr {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  .how-we-work__button {
    font-size: 16px;
    line-height: 20px;
  }

  .how-we-work__content-image-start {
    max-height: 284px;
    display: block;
    margin-bottom: 38px;
  }

  .how-we-work__content-imagee-start {
    width: 100%;
    max-height: 284px;
  }

  .how-we-work__content-image-end {
    display: none;
  }

  .text__space {
    display: none;
  }

  /* FAQ */



  .faq__title {
    font-size: 48px;
    line-height: 59px;
  }

  .faq__item-title {
    font-size: 20px;
    line-height: 32px;
    max-width: 86%;
  }

  /* Footer */

  .footer__left {
    display: none;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
  }

  .footer__midle-social {
    display: block;
  }

  .footer__middle {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {

  .container {
    margin-left: 50px;
    margin-right: 33px;
  }

  /* Header */

  .header {
    border-radius: 24px;
  }

  .header__container {
    padding: 10.5px 0;
  }

  /* .header__logo {
    max-width: 145px;
    max-height: 42px;
  } */

  .search-form__input {
    border: none;
    border-bottom: 1px solid var(--color-gray);
    background-color: transparent;
    margin-right: 14px;
    width: 312px;
  }

  /* Hero */

  .hero__container {
    margin-bottom: 40px;
  }

  .hero__content {
    padding-left: 40px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__paragraph {
    font-size: 18px;
    line-height: 22px;
    max-width: 90%;
  }

  .hero__button {
    font-size: 23px;
    line-height: 28px;
  }

  /* About-us */

  .about-us__left {
    background-position: center;
  }

  .about-us__left-container {
    padding: 34px 40px;
  }

  .about-us__left-paragraph {
    margin: 0;
    margin-right: 47px;
    font-size: 16px;
    line-height: 32px;
    max-width: 100%;
  }



  .about-us__right-list-item {
    padding-top: 35px;
    padding-left: 169px;
    background-position: center left 5.4%;
    background-size: 134px 98px;
  }

  .about-us__right-title {
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__right-paragraph {
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 32px;
    max-width: 90%;
  }

  /* How-we-work */

  .how-we-work__container {
    margin-bottom: 49px;
  }

  .how-we-work__title {
    font-size: 48px;
    line-height: 59px;
  }

  .how-we-work__list {
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
  }

  .how-we-work__article {
    display: flex;
    flex-direction: column;
  }

  .tabs-nav__btn--active {
    color: tan;
  }

  .tabs-item {
    display: none;
  }

  .tabs-item--active {
    display: flex;
  }

  .how-we-work__content {
    margin: 0;
  }

  .how-we-work__content-title {
    font-size: 24px;
    line-height: 32px;
  }

  .how-we-work__content-descr {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  .how-we-work__button {
    font-size: 16px;
    line-height: 20px;
  }

  .how-we-work__content-image-start {
    max-height: 284px;
    display: block;
    margin-bottom: 38px;
  }

  .how-we-work__content-imagee-start {
    width: 100%;
    max-height: 284px;
  }

  .how-we-work__content-image-end {
    display: none;
  }

  .text__space {
    display: none;
  }

  /* FAQ */



  .faq__title {
    font-size: 48px;
    line-height: 59px;
  }

  .faq__item-title {
    font-size: 20px;
    line-height: 32px;
    max-width: 86%;
  }

  /* Footer */

  .footer__left {
    display: none;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
  }

  .footer__midle-social {
    display: block;
  }

  .footer__middle {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {

  /* Hero */

  .container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .hero__container {
    margin-bottom: 60px;
  }

  .hero__content {
    padding: 0;
    padding: 0 21px;
    padding-top: 120px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__paragraph {
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  .hero__button {
    padding: 25px 39px;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 120px;
  }

  .size_1920,
  .size_1024,
  .size_320 {
    display: none;
  }

  .size_768 {
    display: block;
  }

  .about-us__left-container {
    display: flex;
    flex-direction: column;
  }

  .about-us__left-paragraph {
    margin: 0;
    margin-bottom: 10px;
  }

  .form__input {
    width: 100%;
  }
}

@media (max-width: 720px) {

  .about-us__right-list-item {
    padding: 0;
    border: none;
    display: block;
    background-image: none;
  }

  .about-us__right-paragraph {
    max-width: 100%;
  }

  .about-us__right-list-item-svg {
    display: inline-block;
    width: 100px;
    height: 70px;
    margin-bottom: 12px;
  }

}

@media (max-width: 555px) {

  .form__down {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    margin: 0;
    margin-bottom: 10px;
  }

  .form {
    text-align: center;
  }
}

@media (max-width: 460px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* Header */

  .header__logo {
    max-width: 110px;
    max-height: 35px;
  }

  /* Hero */

  .hero__container {
    margin-bottom: 60px;
  }

  .hero__content {
    padding: 0;
    padding: 0 21px;
    padding-top: 60px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__paragraph {
    margin: 0 auto;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }

  .hero__button {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 60px;
  }

  /* About-us */

  .about-us__container {
    margin-bottom: 28px;
  }

  .about-us__title {
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__paragraph {
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__left {
    background-image: none;
    margin-bottom: 8px;
  }

  .about-us__left-container {
    display: none;
  }

  .about-us__left-paragraph {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    max-width: 100%;
    margin: 0;
    margin-bottom: 12px;
  }

  .about-us__left-button {
    display: inline-block;
    color: #FF9900;
    margin-bottom: 32px;
  }

  .about-us__right-list-item {
    padding: 0;
    border: none;
    display: block;
    background-image: none;
  }

  .about-us__right-list-item-svg {
    display: inline-block;
    width: 64px;
    height: 49px;
    margin-bottom: 12px;
  }

  .about-us__right-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-us__right-paragraph {
    font-size: 14px;
    line-height: 28px;
    margin: 0;
    max-width: 100%;
    margin-bottom: 32px;
  }

  .about-us__bg-320px {
    display: block;
    margin-bottom: 8px;
  }

  .about-us__left-container-320px {
    display: block;
  }

  .about-us__left-paragraph-320px {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .about-us__left-button-320px {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 44px;
  }

  /* How-we-work */

  .how-we-work__container {
    margin-bottom: 60px;
  }

  .how-we-work__title {
    font-size: 24px;
    line-height: 29px;
  }

  .how-we-work__list {
    display: flex;
    justify-content: space-between;
  }

  .how-we-work__item {
    margin: 0;
  }

  .how-we-work__item:not(:last-child) {
    margin: 0;
  }

  .how-we-work__button-link {
    font-size: 14px;
    line-height: 17px;
    max-width: 100%;
  }

  .how-we-work__content-image-start {
    margin-bottom: 16px;
  }

  .how-we-work__content-title {
    font-size: 18px;
    line-height: 32px;
  }

  .how-we-work__content-descr {
    font-size: 14px;
    line-height: 28px;
  }

  .how-we-work__button {
    font-size: 12px;
    line-height: 15px;
  }

  .how-we-work__button-1 {
    padding: 12px 32px;
  }

  .how-we-work__button:not(:last-child) {
    margin-right: 10px;
  }

  .how-we-work__button-2 {
    padding: 12px 32px;
  }

  /* FAQ */

  .faq__title {
    font-size: 24px;
    line-height: 29px;
  }

  .faq__item-title {
    font-size: 14px;
    line-height: 24px;
  }

  /* Footer */

  .footer__middle {
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #414141;
  }

  .footer__middle-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .form__input {
    font-size: 14px;
    line-height: 32px;
    max-width: 100%;
  }

  .form__down {
    display: flex;
    flex-wrap: wrap;
  }

  .form__input-message {
    margin-bottom: 25px;
  }

  .form__button {
    display: block;
    font-size: 12px;
    line-height: 15px;
    margin: 0 auto;
    margin-bottom: 12px;
  }

  /* .form__check {
    font-size: 16px;
    line-height: 32px;
    max-width: fit-content;
  } */

  .footer__midle-social-links {
    display: flex;
    justify-content: center;
  }

  .footer__midle-social-link:not(:last-child) {
    margin-right: 16px;
  }

  .footer__midle-social-logo-container {
    text-align: center;
  }

  .footer__midle-social-logo {
    max-width: 131px;
    max-height: 42px;
  }
}

@media (max-width: 375px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* Header */

  .header__logo {
    max-width: 110px;
    max-height: 35px;
  }

  .search-form__input {
    border: none;
    border-bottom: 1px solid var(--color-gray);
    background-color: transparent;
    width: 140px;
  }

  /* Hero */

  .hero__container {
    margin-bottom: 60px;
  }

  .hero__content {
    padding: 0;
    padding: 0 21px;
    padding-top: 60px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__paragraph {
    margin: 0 auto;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }

  .hero__button {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 60px;
  }

  .size_1920,
  .size_1024,
  .size_768 {
    display: none;
  }

  .size_320 {
    display: block;
  }

  /* About-us */

  .about-us__container {
    margin-bottom: 28px;
  }

  .about-us__title {
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__paragraph {
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__left {
    background-image: none;
    margin-bottom: 8px;
  }

  .about-us__left-container {
    display: none;
  }

  .about-us__left-paragraph {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    max-width: 100%;
    margin: 0;
    margin-bottom: 12px;
  }

  .about-us__left-button {
    display: inline-block;
    color: #FF9900;
    margin-bottom: 32px;
  }

  .about-us__right-list-item {
    padding: 0;
    border: none;
    display: block;
    background-image: none;
  }

  .about-us__right-list-item-svg {
    display: inline-block;
    width: 64px;
    height: 49px;
    margin-bottom: 12px;
  }

  .about-us__right-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-us__right-paragraph {
    font-size: 14px;
    line-height: 28px;
    margin: 0;
    max-width: 100%;
    margin-bottom: 32px;
  }

  .about-us__bg-320px {
    display: block;
    margin-bottom: 8px;
  }

  .about-us__left-container-320px {
    display: block;
  }

  .about-us__left-paragraph-320px {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .about-us__left-button-320px {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 44px;
  }

  /* How-we-work */

  .how-we-work__container {
    margin-bottom: 60px;
  }

  .how-we-work__title {
    font-size: 24px;
    line-height: 29px;
  }

  .how-we-work__list {
    display: flex;
    justify-content: space-between;
  }

  .how-we-work__item {
    margin: 0;
  }

  .how-we-work__item:not(:last-child) {
    margin: 0;
  }

  .how-we-work__button-link {
    font-size: 14px;
    line-height: 17px;
    max-width: 100%;
  }

  .how-we-work__content-image-start {
    margin-bottom: 16px;
  }

  .how-we-work__content-title {
    font-size: 18px;
    line-height: 32px;
  }

  .how-we-work__content-descr {
    font-size: 14px;
    line-height: 28px;
  }

  .how-we-work__button {
    font-size: 12px;
    line-height: 15px;
  }

  .how-we-work__button-1 {
    padding: 12px 32px;
  }

  .how-we-work__button:not(:last-child) {
    margin-right: 10px;
  }

  .how-we-work__button-2 {
    padding: 12px 32px;
  }

  /* FAQ */

  .faq__title {
    font-size: 24px;
    line-height: 29px;
  }

  .faq__item-title {
    font-size: 14px;
    line-height: 24px;
  }

  /* Footer */

  .footer__middle {
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 25px;
    border-bottom: 1px solid #414141;
  }

  .footer__middle-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .form__input {
    font-size: 14px;
    line-height: 32px;
  }

  .form__down {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .form__input {
    max-width: 270px;
  }

  .form__input-message {
    margin-bottom: 25px;
  }

  .form__button {
    display: block;
    font-size: 12px;
    line-height: 15px;
    margin: 0 auto;
    margin-bottom: 12px;
  }

  /* .form__check {
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;
  } */

  .footer__midle-social-links {
    display: flex;
    justify-content: center;
  }

  .footer__midle-social-link:not(:last-child) {
    margin-right: 16px;
  }

  .footer__midle-social-logo-container {
    text-align: center;
  }

  .footer__midle-social-logo {
    max-width: 131px;
    max-height: 42px;
  }
}
